.reserve {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.384);
  position: fixed;
  top: 0;
  left: 0;
  .reserveContainer {
    background-color: white;
    padding: 25px;
    position: relative;
    .reserveSuccess {
      display: flex;
      flex-direction: column;
      align-items: center;
      .successIcon {
        color: green;
        height: 50px;
        width: 50px;
      }
    }
    .close_icon {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    .reserveItem {
      display: flex;
      align-items: center;
      gap: 50px;
      padding: 10px;
      .reserveItemInfo {
        .title {
          font-weight: 650;
          font-size: 18px;
        }
        .description {
          width: 200px;
          font-size: 12px;
          flex-wrap: wrap;
        }
      }

      .roomContainer {
        display: flex;
        .room {
          padding: 0px 10px;
          label {
            padding: 0px 5px;
          }
          &.disable {
            color: red;
          }
        }
      }
    }
    .reserveButton {
      height: 40px;
      width: 150px;
      color: white;
      background-color: #1363df;
      border: none;
      border-radius: 5px;
    }
  }
}
