.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 350px;
  width: 250px;
  background: #5f5dbd;
  border-radius: 5px;
  .search_container {
    .search_title {
      font-weight: 700;
      font-size: 25px;
      color: white;
    }
    .search_items {
      .search_item {
        margin: 5px 0px;
        padding: 5px 0px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        .item_title {
          font-weight: 500;
          color: white;
          margin-bottom: 5px;
        }
        .search_input {
          border: none;
          outline: none;
          height: 30px;
          width: 100%;
          border-radius: 2px;
        }
        .item_container {
          display: flex;
          align-items: center;
          justify-content: center;
          color: gray;
          background-color: white;
          width: 225px;
          height: 27px;
          padding: 3px;
          border-radius: 2px;
          .searchBoxText {
            font-size: 13px;
            padding: 0px 5px;
          }
        }
        .searchButton {
          width: 110px;
          height: 40px;
          padding: 5px;
          border-radius: 5px;
          margin: 0px 3px;
          border: none;
          background-color: #362222;
          color: white;
          cursor: pointer;
        }
        &.button {
          flex-direction: row;
        }
        .searchButton:hover {
          background-color: #362222bb;
        }
        .daterange {
          position: absolute;
          bottom: 70px;
          left: 65px;
        }
        .optionSelector {
          position: absolute;
          bottom: 190px;
          left: 65px;
          width: 200px;
          height: 150px;
          border: 1px solid lightgray;
          border-radius: 5px;
          background-color: white;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.19);
          -webkit-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.19);
          -moz-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.19);
          p {
            font-weight: 600;
            color: rgb(88, 87, 87);
          }
          .optionSelectorItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .optionSelectorItem_right {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              button {
                padding: 5px;
                margin: 5px 10px;
                width: 30px;
                background-color: white;
                color: rgba(0, 0, 255, 0.588);
                border: 1px solid rgba(0, 0, 255, 0.588);
                border-radius: 2px;
                cursor: pointer;
              }
              button:hover {
                background-color: rgba(0, 0, 255, 0.092);
              }
            }
          }
        }
      }
    }
  }
}
