.list {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  height: auto;
  .list_top {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  }
  .list_content {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    .list_wrapper {
      display: flex;
      width: 100%;
      max-width: 1024px;
      padding: 0px 45px;
      gap: 10px;
      .search_component {
        flex: 1;
      }
      .result_component {
        flex: 3;
      }
    }
  }
}
